In [1]:
var="Shakespeare gave the best theatrics to the world"
print(var)

Shakespeare gave the best theatrics to the world

In [2]:
var='Shakespeare gave the best theatrics to the world"
print(var)

SyntaxError: EOL while scanning string literal (<ipython-input-2-ae91158badc4>, line 1)

In [3]:
value="Shakespeare was born and raised in Stratford-upon-Avon, Warwickshire. At the age of 18, he married Anne Hathaway, with whom he had three children: Susanna and twins Hamnet and Judith. Sometime between 1585 and 1592, he began a successful career in London as an actor, writer, and part-owner of a playing company called the Lord Chamberlain's Men, later known as the King's Men. At age 49 (around 1613), he appears to have retired to Stratford, where he died three years later. Few records of Shakespeare's private life survive; this has stimulated considerable speculation about such matters as"
print(value)

Shakespeare was born and raised in Stratford-upon-Avon, Warwickshire. At the age of 18, he married Anne Hathaway, with whom he had three children: Susanna and twins Hamnet and Judith. Sometime between 1585 and 1592, he began a successful career in London as an actor, writer, and part-owner of a playing company called the Lord Chamberlain's Men, later known as the King's Men. At age 49 (around 1613), he appears to have retired to Stratford, where he died three years later. Few records of Shakespeare's private life survive; this has stimulated considerable speculation about such matters as

In [4]:
value="""Shakespeare was born and raised in Stratford-upon-Avon, Warwickshire. At the age of 18, he married Anne Hathaway, with whom he had three children: Susanna and twins Hamnet and Judith. Sometime between 1585 and 1592, he began a successful career in London as an actor, writer, and part-owner of a playing company called the Lord Chamberlain's Men, later known as the King's Men. At age 49 (around 1613), he appears to have retired to Stratford, where he died three years later. Few records of Shakespeare's private life survive; this has stimulated considerable speculation about such matters as """
print(value)

Shakespeare was born and raised in Stratford-upon-Avon, Warwickshire. At the age of 18, he married Anne Hathaway, with whom he had three children: Susanna and twins Hamnet and Judith. Sometime between 1585 and 1592, he began a successful career in London as an actor, writer, and part-owner of a playing company called the Lord Chamberlain's Men, later known as the King's Men. At age 49 (around 1613), he appears to have retired to Stratford, where he died three years later. Few records of Shakespeare's private life survive; this has stimulated considerable speculation about such matters as

In [5]:
value="""Shakespeare produced most of his known works between 1589 and 1613.[11][12][d] His early plays were primarily comedies and histories and are regarded as some of the best work produced in these genres. Until about 1608, he wrote mainly tragedies, among them Hamlet, Othello, King Lear, and Macbeth, all considered to be among the finest works in the English language.[2][3][4] In the last phase of his life, he wrote tragicomedies (also known as romances) and collaborated with other playwrights.

Many of Shakespeare's plays were published in editions of varying quality and accuracy in his lifetime. However, in 1623, two fellow actors and friends of Shakespeare's, John Heminges and Henry Condell, published a more definitive text known as the First Folio, a posthumous collected edition of Shakespeare's dramatic works that included all but two of his plays.[13] The volume was prefaced with a poem by Ben Jonson, in which Jonson presciently hails Shakespeare in a now-famous quote as "not of an age, but for all time".[13]

Throughout the 20th and 21st centuries, Shakespeare's works have been continually adapted and rediscovered by new movements in scholarship and performance. His plays remain popular and are studied, performed, and reinterpreted through various cultural and political contexts around the world."""
print(value)

Shakespeare produced most of his known works between 1589 and 1613.[11][12][d] His early plays were primarily comedies and histories and are regarded as some of the best work produced in these genres. Until about 1608, he wrote mainly tragedies, among them Hamlet, Othello, King Lear, and Macbeth, all considered to be among the finest works in the English language.[2][3][4] In the last phase of his life, he wrote tragicomedies (also known as romances) and collaborated with other playwrights.

Many of Shakespeare's plays were published in editions of varying quality and accuracy in his lifetime. However, in 1623, two fellow actors and friends of Shakespeare's, John Heminges and Henry Condell, published a more definitive text known as the First Folio, a posthumous collected edition of Shakespeare's dramatic works that included all but two of his plays.[13] The volume was prefaced with a poem by Ben Jonson, in which Jonson presciently hails Shakespeare in a now-famous quote as "not of an age, but for all time".[13]

Throughout the 20th and 21st centuries, Shakespeare's works have been continually adapted and rediscovered by new movements in scholarship and performance. His plays remain popular and are studied, performed, and reinterpreted through various cultural and political contexts around the world.

In [6]:
value="""Shakespeare produced most of his known works between 1589 and 1613.
[11][12][d] His early plays were primarily comedies and histories and are regarded
as some of the best work produced in these genres. Until about 1608, he wrote mainly tragedies, 
among them Hamlet, Othello, King Lear, and Macbeth, all considered to be among the finest works
in the English language.[2][3][4] In the last phase of his life, he wrote tragicomedies (also known as romances)
and collaborated with other playwrights.

Many of Shakespeare's plays were published in editions of varying 
quality and accuracy in his lifetime. However, in 1623, two fellow 
actors and friends of Shakespeare's, John Heminges and Henry Condell,
published a more definitive text known as the First Folio, a 
posthumous collected edition of Shakespeare's dramatic works that
included all but two of his plays.[13] The volume was prefaced with a
poem by Ben Jonson, in which Jonson presciently hails Shakespeare in a
now-famous quote as "not of an age, but for all time".[13]

Throughout the 20th and 21st centuries, Shakespeare's works have been
continually adapted and rediscovered by new movements in scholarship and
performance. His plays remain popular and are studied, performed, and reinterpreted
through various cultural and political contexts around the world."""
print(value)

Shakespeare produced most of his known works between 1589 and 1613.
[11][12][d] His early plays were primarily comedies and histories and are regarded
as some of the best work produced in these genres. Until about 1608, he wrote mainly tragedies,
among them Hamlet, Othello, King Lear, and Macbeth, all considered to be among the finest works
in the English language.[2][3][4] In the last phase of his life, he wrote tragicomedies (also known as romances)
and collaborated with other playwrights.

Many of Shakespeare's plays were published in editions of varying
quality and accuracy in his lifetime. However, in 1623, two fellow
actors and friends of Shakespeare's, John Heminges and Henry Condell,
published a more definitive text known as the First Folio, a
posthumous collected edition of Shakespeare's dramatic works that
included all but two of his plays.[13] The volume was prefaced with a
poem by Ben Jonson, in which Jonson presciently hails Shakespeare in a
now-famous quote as "not of an age, but for all time".[13]

Throughout the 20th and 21st centuries, Shakespeare's works have been
continually adapted and rediscovered by new movements in scholarship and
performance. His plays remain popular and are studied, performed, and reinterpreted
through various cultural and political contexts around the world.

In [7]:
value='I don't like kiwi fruit'
print(value)

SyntaxError: invalid syntax (<ipython-input-7-aa721637dcfb>, line 1)

In [8]:
value='I don\'t like kiwi fruit'
print(value)

I don't like kiwi fruit

In [9]:
cities=["Paris","Rome","Berlin","London","Athens","Amsterdam","Dublin","Lisbon","Madrid","Hamburg"]
print(cities)

['Paris', 'Rome', 'Berlin', 'London', 'Athens', 'Amsterdam', 'Dublin', 'Lisbon', 'Madrid', 'Hamburg']

In [10]:
cities=["Paris","Rome","Berlin","London","Athens","Amsterdam","Dublin","Lisbon","Madrid","Hamburg"]
print(cities[0])

Paris

In [11]:
cities=['Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg']
print(cities)

['Paris', 'Rome', 'Berlin', 'London', 'Athens', 'Amsterdam', 'Dublin', 'Lisbon', 'Madrid', 'Hamburg']

In [12]:
cities=['Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg']
for(i=0;i<10;i++):
    print(cities[i])

SyntaxError: invalid syntax (<ipython-input-12-f7477efdb9c9>, line 2)

In [13]:
cities=['Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg']
i=0
for(i to 10):
    print(cities[i])

SyntaxError: invalid syntax (<ipython-input-13-7ccd2acb50b2>, line 3)

In [14]:
cities=['Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg']
for i in range 1..10:
    print(cities[i])

SyntaxError: invalid syntax (<ipython-input-14-982bf6ae6ab7>, line 2)

In [15]:
cities=['Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg']
cities.append('Munich')
print(cities)

['Paris', 'Rome', 'Berlin', 'London', 'Athens', 'Amsterdam', 'Dublin', 'Lisbon', 'Madrid', 'Hamburg', 'Munich']

In [16]:
cities=['Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg','Munich']
cities.remove('Munich')
print(cities)

['Paris', 'Rome', 'Berlin', 'London', 'Athens', 'Amsterdam', 'Dublin', 'Lisbon', 'Madrid', 'Hamburg']

In [17]:
tup=('Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg','Munich')
print(tup)

('Paris', 'Rome', 'Berlin', 'London', 'Athens', 'Amsterdam', 'Dublin', 'Lisbon', 'Madrid', 'Hamburg', 'Munich')

In [18]:
tup=('Paris','Rome','Berlin','London','Athens','Amsterdam','Dublin','Lisbon','Madrid','Hamburg','Munich')
tup.append('Prague')
print(tup)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
dict={'Virat Kohli':'Cricket','Roger Faderer':'Tennis','P T Usha':'Athelitics','Mary Kom':'Boxing'}
#tup=tuple(dict)
print(dict)

{'Virat Kohli': 'Cricket', 'Roger Faderer': 'Tennis', 'P T Usha': 'Athelitics', 'Mary Kom': 'Boxing'}

In [21]:
dict={'Virat Kohli':'Cricket','Roger Faderer':'Tennis','P T Usha':'Athelitics','Mary Kom':'Boxing'}
tup=tuple(dict)
print(dict)

{'Virat Kohli': 'Cricket', 'Roger Faderer': 'Tennis', 'P T Usha': 'Athelitics', 'Mary Kom': 'Boxing'}

In [22]:
s=(102,324,'mgb')
print(s)

(102, 324, 'mgb')

In [23]:
s=[102,324,'mgb']
print(s)

[102, 324, 'mgb']

In [1]:
s={no:102,value:324,'dept':'mgb'}
print(s)

NameError: name 'no' is not defined

In [2]:
s={'no':102,'value':324,'dept':'mgb'}
print(s)

{'no': 102, 'value': 324, 'dept': 'mgb'}